
$pal-one: rgb(238, 167, 119);
$pal-two: rgb(216, 136, 82);
$pal-three: rgb(101, 85, 77);
$pal-four: rgb(89, 65, 59);
$pal-five: rgb(76, 41, 30);
$pal-six: rgb(32, 31, 28);
$pal-seven: rgb(17,16,15);



