@import "./modules/mixins";

.ledger-container {
   @include column;
   background-color: indianred;
   width: 100%;
   min-height: 80vh;
}
.ledger-line-container {
   background-color:cornflowerBlue;
   width: 90vw;
   min-height: 70vh;
   margin-top:2vh;
}

.ledger-line, .ledger-line-title {
   @include row;
   text-align: center;
}
.ledger-line-title {
   background-color: slategray;
}
.ledger-line:hover{
   background-color: steelblue;
}


.date-title {

}
.credit-title {
   grid-area: credit-title;
   
}
.debit-title {
   grid-area: debit-title;
   
}
.vendor-title {
   grid-area: vendor-title;
   
}
.trx-desc-title {
   grid-area: trx-desc-title;
   
}
.trx-type-title {
   grid-area: trx-type-title;
   
}
.gl-title {
   grid-area: gl-title;
   
}
.date, .date-title {
width:5vw;
}
.credit, .debit, .credit-title, .debit-title {
   width:10vw;
}

.vendor, .vendor-title {
   width: 15vw;
}
.trx-desc, .trx-desc-title {
   width: 15vw;
}
.trx-type, .trx-type-title {
   width:10vw;
}
.gl, .gl-title {
   width:7vw;
   
}