@import "./modules/mixins";

.ledger-view-container {
   @include column;
   background-color: pink;
   width: 100vw;
   height: 100vh;
}
footer {
   @include row;
   background-color: slategray;
   position: fixed;
   bottom: 0;
   right:0;
   height: 8vh;
   width: 60vw;
   border-top: 3px solid black;
   border-left: 3px solid black;
}